/* ---------------- These Are The Base Styles -------------------- */

* {
  box-sizing: border-box;
}

body {
  color: #878787;
  margin: 0;
  font: 1em/1.5 "Helvetica Neue", Courier, Helvetica, Arial, sans-serif;
}

h1 {  
  font-size: 5.625rem; /* ----- 90px/16px -------  */
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font-weight: shadow;
  line-height: 1.3; 
  text-shadow: 0 2px 2px #ff0000;
}

h2 {
  font-size: 3.3125em; /* ------ 53px/16px --------  */
  font-weight: normal;
  line-height: 1.1;
  margin: 0 0 .5em; 
}

h3 {
  font-size: 1.25em; /* 20px/16px  */
  color: #48525c;
  line-height: 1.2;
  margin-bottom: 1.7em; 
}

img {
  max-width: 100%;
  margin-bottom: 20px;
}

ul,
ol {
  margin: 30px 0;
}

li {
  margin-bottom: 10px;
}

/* --------------- These Are The Pseudo-classes ------------------ */

a:link {
  color: #800000;
  text-decoration: none;
}

a:visited {
  color: #660000;
}

a:hover {
  color: #ff4d4d;
}

a:active {
  color: #ffcccc;
}

/* ------------------- These Will Be The Main Styles --------------------- */

.main-header {
  padding-top: 170px;
  height: 850px;
  background: #ffe6e6 url('../img/records.png') no-repeat center;
  background-size: cover;
}

.title {
  color: white;
  font-size: 1.625rem; /* 26px/16px */
}

.intro {
  font-size: 1.25em; /* 20px/16px */
  line-height: 1.6;  
}

.primary-content,
.main-header,
.main-footer {
  text-align: center;
}

.primary-content {
	padding-top: 25px;
  padding-bottom: 95px;
}

.secondary-content {
	padding-top: 80px;
	padding-bottom: 70px;
  border-bottom: 2px solid #dfe2e6;
}

.callout {
  font-size: 1.50em;
  border-bottom: 3px solid;
  padding: 0 9px 3px;
  margin-top: 20px;
  display: inline-block;
}

.main-footer {
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 10px solid #ff0000;
}

.t-border {
  border-top: 3px solid #ff0000;
}

/* -------------- These Are The Layout Styles ------------------ */

.primary-content, 
.secondary-content {
  width: 78%;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  max-width: 940px;
}

.onestop {
  color: white;
  text-align: center;
  padding: 16% 22%;
  border-top: 10px solid #4d0000;
  margin: 105px 0 60px;
  background: #434a52 url('../img/record-closeup.jpg') no-repeat center;
  background-size: cover;
}

.fleurdelis {
  width: 100px;
}

/* ------ These Are The Floated Columns ------------------ */

.shops,
.care {
  width: 46.5%;
}

.care {
  float: left;
}

.shops {
  float: right;
}

/* Float Clearfix ------------------ */

.group:after {
  content: "";
  display: table;
  clear: both;
}

/* Media Queries Begin Here ------------------ */

@media (max-width: 960px) {
    body {
      background: lightgrey;
  }
    p {
      color: white;
  }
}

@media (max-width: 480px) {
    body {
      background: pink;
    }
p {
      color: white;
  }
}

/* This Media Query Makes the content in the Primary and Secondary Divs more spread out when the viewport gets to 1024 pixels or narrower  ------------------ */
@media (max-width: 1024px) {
  .primary-content,
  .secondary-content {
      width: 90%;
   }
}


/* This Media Query states that when the browser is resized to 768 pixels or lower, the main content areas are no longer too narrow for the best readibility ------------------ */

@media (max-width: 768px) {
  .primary-content,
  .secondary-content {
      width: 100%;
      padding: 20px;
      border: none;
    }
}

  .main-header {
    max-height: 380px;
    padding: 50px 25px 0;
  {
    
  .title {
      font-size: 1.3rem;
      border: none;
  }
    
  .h1 {
      font-size: 5rem;
      line-height: 1.1;
    }
}
  
  /* Media Queries End Here ------------------ */


